{%extends 'mobile/layout.html' %}

{%load static %}

{%block content %}

   
    <div class="page-content-wrapper">
      <!-- Hero Slides-->
     
      <!-- Welcome Toast-->
      <div class="toast toast-autohide custom-toast-1 toast-danger home-page-toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000" data-bs-autohide="true">
        <div class="toast-body">
          <svg class="bi bi-bookmark-check text-white" width="30" height="30" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
            <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
          </svg>
          <div class="toast-text ms-3 me-2">
            <p class="mb-1 text-white">Bienvenido, {{ cliente }}</p><small class="d-block"></small>
          </div>
          <button class="btn btn-close btn-close-white position-relative p-1 ms-auto" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
      <div class="py-4">
        <div class="container direction-rtl">
          <div class="row g-3">
            {%for paciente in pacientes%}
            
            <div class="col-3">
              <a href="perfil/{{ paciente.id }}">
              <div class="feature-card mx-auto text-center">
                {% if paciente.especie == "Canino" %}
                <div class="card shadow mx-auto"><img src="{% static 'mobile/img/demo-img/caninos.png' %}" alt=""></div>
                {%elif paciente.especie == "Felino" %}
                <div class="card shadow mx-auto"><img src="{% static 'mobile/img/demo-img/felino.png' %}" alt=""></div>
                {%elif paciente.especie == "Bovino" %}
                <div class="card shadow mx-auto"><img src="{% static 'mobile/img/demo-img/bovinos.png' %}" alt=""></div>
                {%elif paciente.especie == "Aves" %}
                <div class="card shadow mx-auto"><img src="{% static 'mobile/img/demo-img/aves.png' %}" alt=""></div>
                {%elif paciente.especie == "Conejo" %}
                <div class="card shadow mx-auto"><img src="{% static 'mobile/img/demo-img/conejos.png' %}" alt=""></div>
                {%elif paciente.especie == "Reptiles" %}
                <div class="card shadow mx-auto"><img src="{% static 'mobile/img/demo-img/reptiles.png' %}" alt=""></div>
                {%elif paciente.especie == "Anfibios" %}
                <div class="card shadow mx-auto"><img src="{% static 'mobile/img/demo-img/anfibios.png' %}" alt=""></div>
                {%elif paciente.especie == "Otro" %}
                <div class="card shadow mx-auto"><img src="{% static 'mobile/img/demo-img/otros.png' %}" alt=""></div>
                {%endif%}
                <p class="mb-0">{{ paciente.nombre }}</p>
              </div>
            </a>
            </div>
            {%endfor%}

          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">

          <div class="col-12">
            <div class="card bg-primary mb-3 shadow-sm bg-gradient direction-rtl">
              <div class="card-body">
                <h2 class="text-white">Citas</h2>
                <p class="text-white mb-4">Ver lista de citas pendientes</p><a class="btn btn-info" href="{% url 'citas_cliente' %}">Ver</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h2>Productos <span class="badge bg-success ms-2 rounded-pill">{{ user }}</span></h2>

            <div class="testimonial-slide owl-carousel testimonial-style3">
              {%if productos %}

              {% for producto in productos%}
              <!-- Single Testimonial Slide-->
              <div class="single-testimonial-slide">
                <div class="text-content">
                  <h6 class="mb-2">{{producto.nombre}}</h6><span class="d-block">{{ producto.descuento}}% de descuento</span>
                  <a class="btn btn-info mt-1" href="product_detail/{{ producto.id }}">Ver</a>
                </div>
              </div>
              {%endfor%}

              {%else%}
              <div class="single-testimonial-slide">
                <div class="text-content">
                  <h6 class="mb-2">No hay productos por mostrar</h6><span class="d-block">  </span>
                </div>
              </div>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
      <div class="pb-3"></div>
    </div>

  

{% endblock %}