html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map
{
    display: flex;
    justify-content:center;
    align-items:center;

}
.marker-position{
  top: 30px;
  left: 0;
  position: relative;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #FF2305!important;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}