{% load static %}
{%load socialaccount%}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{% static 'app/img/logo.png' %}">
    <title>CaniPet - Login</title>
    <link rel="stylesheet" href="sweetalert2.min.css">

    <!-- Custom fonts for this template-->
    <link href="{% static 'app/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'app/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="bg-gradient-primary">
    <div class="container mt-2">
        {% if messages %}
        {% for message in messages %}
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })
            {% if message.tags == 'success' %}
            Toast.fire({
                icon: 'success',
                title: '{{ message }}'
            })
            {% elif message.tags == 'error' %}
            Toast.fire({
                icon: 'error',
                title: '{{ message }}'
            })

            {% endif %}
        </script>
        {% endfor %}
        {% endif %}

    </div>
    {% if page == "Login" %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                                    </div>
                                    <form action="{% url 'login_view' %}" class="user" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="exampleInputEmail" name="username" aria-describedby="emailHelp"
                                                placeholder="Ingrese usuario">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" name="password" placeholder="Contraseña">
                                        </div>

                                        <input type="submit" class="btn btn-primary btn-user btn-block mb-3"
                                            value="Login">


                                    </form>
                                    <p class="text-center">or</p>
                                    <form method="POST" action="{% provider_login_url 'google' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-block">
                                            <i class="fa-brands fa-google fa-flip"></i>
                                            Inicio de sesión con Google
                                        </button>
                                    </form>

                                    <hr>

                                    <div class="text-center">
                                        <a class="small" href="{% url 'register' %}">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    {% else %}
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" action="{% url 'register' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-12 mb-sm-0">
                                        <input name="username" type="text" class="form-control form-control-user"
                                            id="exampleFirstName" placeholder="Nombre de usuario: ">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control form-control-user"
                                        id="exampleInputEmail" placeholder="Email Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" name="password" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleRepeatPassword" name="password2" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <input href="login.html" type="submit" value="Register"
                                    class="btn btn-primary btn-user btn-block">
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'login_view' %}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endif %}

    <script src="{% static 'app/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/01bd3dc0f5.js" crossorigin="anonymous"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'app/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'app/js/sb-admin-2.min.js' %}"></script>

</body>

</html>